@model List<CatalogModel>

<h1>Main Catalogs</h1>

<a asp-action="ExportToJson" class="btn btn-primary">Export Data to TXT</a>
<a asp-action="ImportFromJson" class="btn btn-primary">Import Data from TXT</a>



<ul>
    @foreach (var catalog in Model)
    {
            <li>
                <a asp-controller="Catalog" asp-action="ViewFolder" asp-route-name="@catalog.Name">@catalog.Name</a>
            </li>
    }
</ul>
