@model List<CatalogModel>

<h1>Main Catalogs</h1>


<ul>
    @foreach (var catalog in Model)
    {
            <li>
                <a asp-controller="Catalog" asp-action="ViewFolder" asp-route-name="@catalog.Name">@catalog.Name</a>
            </li>
    }
</ul>
